* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  padding: 20px;
  background-image: url("../../assets/bg_homepage.png");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.page form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  align-items: center;
  gap: 20px;
  margin: 10px;
  padding: 20px;
  border: 2px solid white;
  width: 500px;
  position: relative;
  user-select: none;
  border-radius: 10px;
  text-transform: uppercase;
}

.page form > h1 {
  color: white;
  font-weight: bold;
}

.page form > .image-container {
  width: 200px;
}

.page form > .image-container img {
  object-fit: cover;
  width: 100%;
}

.page .txtbox {
  font-size: 13px;
  padding: 10px 20px;
  width: 100%;
  outline: none;
  background: #d3b5f0;
  color: #000000;
  border: 1px solid #62457c;
  border-radius: 100px;
  transition: 0.3s ease;
  margin: 5px;
  width: 450px;
  opacity: 0.65;
}

.page .txtbox:focus {
  background: #ffffff;
  border: 1px solid #62457c;
  border-radius: 10px;
}

.page form input:last-child {
  align-self: center;
  background-color: transparent;
  border-radius: 28px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 10px 22px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  font-weight: bold;
  width: 225px;
}

.page form input:last-child:active {
  position: relative;
  top: 1px;
  right: 1px;
}

@media (max-width: 732px) {
  .page form > h1 {
    font-size: 20px;
  }
  .page form input {
    font-size: 18px;
  }
}

@media (max-width: 650px) {
  .page form {
    margin: 100px 30px;
  }

  .page form > h1 {
    font-size: 20px;
  }

  .page form input {
    font-size: 20px;
  }
}

@media (max-width: 420px) {
  .page form {
    margin: 150px 30px;
  }

  .page form > h1 {
    font-size: 18px;
  }

  .page form input {
    font-size: 16px;
  }
}
