* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  padding: 20px;
  background-image: url("../../assets/bg_homepage.png");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.page form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  align-items: center;
  gap: 20px;
  margin: 150px;
  padding: 20px;
  border: 1px solid white;
  width: 500px;
  position: relative;
  user-select: none;
  border-radius: 10px;
  text-transform: uppercase;
}

.page form > h1 {
  color: #7e30e1;
  font-weight: bold;
}

.page form > .image-container {
  width: 200px;
}

.page form > .image-container img {
  object-fit: cover;
  width: 100%;
}

.page form input {
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 20px;
  outline: 2px solid #bfcfe7;
}

.page form input:focus {
  outline: 2px solid #7e30e1;
}

.page form input:last-child {
  cursor: pointer;
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background: #7e30e1;
  font-weight: bold;
}

@media (max-width: 732px) {
  .page form > h1 {
    font-size: 20px;
  }
  .page form input {
    font-size: 18px;
  }
}

@media (max-width: 650px) {
  .page form {
    margin: 100px 30px;
  }

  .page form > h1 {
    font-size: 20px;
  }

  .page form input {
    font-size: 20px;
  }
}

@media (max-width: 420px) {
  .page form {
    margin: 150px 30px;
  }

  .page form > h1 {
    font-size: 18px;
  }

  .page form input {
    font-size: 16px;
  }
}
