* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bg {
  background-image: url(/../assets/bg_homepage.png);
  background-size: 100%;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.editform {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  max-width: fit-content;
  position: relative;
  left: 50%;
  color: white;
}
.editform > .user {
  align-self: right;
  width: 100vh;
  height: 70px;
  padding-left: 500px;
  align-content: right;
}
.editform > .user > img {
  width: 100%;
  height: 100%;
}

.editform h1 {
  font-size: 28px;
  word-spacing: 1px;
}

.editform {
  display: flex;
  position: relative;
  align-items: left;
  border: 2px solid white;
  border-radius: 20px;
  margin-top: 50px;
  flex-direction: column;
  width: 1000px;
  position: relative;
  left: 50%;
  height: fit-content;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 20px;
  transform: translateX(-50%);
  color: white;
}
.columndiv {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  position: relative;
}

.Btncontainer {
  align-self: center;
  align-content: center;
}
.regBtn {
  background-color: #59238d;
  border-radius: 28px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  margin-left: 290px;
  font-family: Arial;
  font-size: 15px;
  margin-top: 10px;
  padding: 10px 22px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2a2d2a;
  font-weight: bold;
  width: 300px;
}
.regBtn:hover {
  background-color: #934fd6;
}

.regBtn:active {
  position: relative;
  top: 2px;
}

.Textbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  max-width: 100%;
  margin: 10px;
  padding-left: 10px;
}
.input {
  font-size: 13px;
  padding: 10px 20px;
  width: 100%;
  outline: none;
  background: #d3b5f0;
  color: #000000;
  border: 1px solid #62457c;
  border-radius: 100px;
  transition: 0.3s ease;
  margin: 5px;
  width: 450px;
  opacity: 0.65;
}
.radio {
  font-size: 13px;
  padding: 10px 20px;
  width: 100%;
  outline: none;
  background: #d3b5f0;
  color: #000000;
  border: 1px solid #62457c;
  border-radius: 100px;
  transition: 0.3s ease;
  margin-left: 15px;
  width: fit-content;
  opacity: 0.65;
}

.input:focus {
  background: #cbafe7;
  border: 1px solid #62457c;
  border-radius: 10px;
}

.input::placeholder {
  color: #000000;
}

.divstyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 20px;
}

.divstyle a {
  color: #cbafe7;
}
.divstyle a:hover {
  color: #371d50;
}
.divline {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
}

.birth::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.birth {
  background-color: #62457c;
  margin-left: 10px;
  color: #ffffff;
  width: 200px;
  padding-left: 55px;
  justify-content: space-evenly;
}
